
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  font-family: tre;
  height: 70px;
  
  
}

body {
  background-color: lightgray;
}


++++++++++++++++UTILITY++++++++++++++++++++++++++

++++++++++++++++HEADER+++++++++++++++++++++++++++++

div.header-line{
  margin: 10px;
}

img.logo{
  margin-top: 10px;
  margin-left: 10px;
  vertical-align: middle;
}

.Toboolist{
  font-size: 2rem;
  vertical-align: middle;
}
++++++++++++++++MAIN+++++++++++++++++++++++++++++++++++
++++++++++++++++FOOTER++++++++++++++++++++++++++++++
++++++++++++++++GENERAL++++++++++++++++++++++++++++++++