
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 70px;
}

body {
  background-color: lightgray;
}

main {
  font-family: Arial, Helvetica, sans-serif
}


/* ++++++++++++++++UTILITY++++++++++++++++++++++++++ */

.container {
  background-color: white;
  max-width: 615px;
  width: 615px;
  margin: 35px auto;
  padding-top: 10px;
  padding-left: 35px;
  padding-bottom: 25px;
  border-radius: 5px;
}



button {
  padding: 5px;
  font-size: 0.5rem;
  border-radius: 5px;
  height: 20px;
  line-height: 50%;
}

button.task {
  background-color: #4baaf4;
  border: 0;
  color: white;
}

button.section {
  background-color: white;
  border:1px solid lightgray;
  color: lightgray;

}


.badge {
  padding: 3px;
  border-radius: 5px;
  font-size: 0.4rem;
  color: white;

}

span.badge.editorial {
  background-color: #47a7ef;

}

span.badge.goals {
  background-color: #9d75e7;

}

span.badge.recruiting {
  background-color: #6abca3;

}

span.badge.mobile {
  background-color:#eca134;

}

p span.badge.website {
  background-color: #cb6492;

}

p span.badge.sales {
  background-color: #b0c729;

}


/* ++++++++++++++++HEADER+++++++++++++++++++++++++++++ */

div.header-line{
  margin: 0px;
}

img.logo{
  margin-top: 10px;
  margin-left: 10px;
  vertical-align: middle;
}

.Toboolist{
  font-size: 2rem;
  vertical-align: middle;
}
/* ++++++++++++++++MAIN+++++++++++++++++++++++++++++++++++ */

